* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: lighter;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

@media (min-width: 768px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  ul {
    grid-template-columns: repeat(5, 1fr);
  }
}


li {
  list-style: none;
}

img {
  transform: scale(1);
  border-radius: 50%;
  transition: transform ease-in-out 0.2s;
  width: 100%;
}

main a:not(.followersCount) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main a {
  padding: 1em;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.followersCount {
  width: 100%;
  display: block;
}

.tFollowersCount {
  background-color: #1DA1F2;
}

.tFollowersCount:hover,
.tFollowersCount:focus {
  background-color: #0c84cf;
}

.ytFollowersCount {
  background-color: #FF0000;
}

.ytFollowersCount:hover,
.ytFollowersCount:focus {
  background-color: #cc0000;
}

.bFollowersCount {
  background-color: #23aee5;
}

.bFollowersCount:hover,
.bFollowersCount:focus {
  background-color: #1690c0;
}

a:focus {
    outline: none;
}

a:hover img {
    transform: scale(1.1);
}

.img {
    margin-bottom: 1em;
    display: flex;
    max-width: 200px;
}

footer {
  text-align: center;
  font-size: .7em;
  margin-top: 1em;
}
